@import url("./StyleSettings.css");

.card-container {
    display: flex;
    place-content: center;
    flex-wrap: wrap;
    gap: 14px;
    margin: auto;
}

.message-label {
    font-size: clamp(5.5rem, 10vw, 10rem);
    -webkit-text-stroke: clamp(2px, 0.2vw, 4px) var(--poke-blue);
}