@import url("./StyleSettings.css");

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--poke-white);
    border: 8px solid var(--poke-black);
    border-radius: 22px;
    padding: 10px;
    height: clamp(120px, 10.5vw, 200px);
    width: clamp(120px, 10.5vw, 200px);
}

.card img {
    height: 70%;
    width: 70%;
}