@font-face {
  font-family: "Pokemon Solid";
  src: url("../fonts/Pokemon Solid.ttf");
  font-weight: normal;
  font-style: normal;
}

#root {
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-family: "Pokemon Solid";
  font-size: 6em;
  margin: 0;
  -webkit-text-stroke: 4px rgb(51, 98, 162);
  color: rgb(251, 204, 4);
}